################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ScheduleMe/bin
/ScheduleMe/obj
/ScheduleMe/ScheduleMe.csproj.user
